/* 20220904  */

body {
  background-color: white;
}
.container,
.container--outer {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  box-shadow: none;
}
.footer {
  width: inherit;
  position: fixed;
  bottom: 0;
}

/* 20220905 */
.list__excerpt a {
  font-weight: 100;
}
.list__footer-readmore {
  float: none;
  margin-top: 10px;
}

/* 20220905 alert*/
.message-box {
  padding: 0.75em;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #dfe7fd;
  color: #00132d;
}
.success {
  background-color: #e2ece9;
  color: #212224;
}
.danger {
  background-color: #fde2e4;
  color: #45040c;
}
.notice {
  background-color: #fff1e6;
  color: #751006;
}
.light {
  background-color: #f2f2f2;
  color: #343a40;
}
