/* 20220905 */

/* color 
--prussian-blue: #003049ff;
--maximum-red: #d62828ff;
--cultured: #f2f2f2ff; light gray
--skobeloff: #216869ff; green
--honey-yellow: #ffad05ff;

--sonic-silver: #6c757dff;
--davys-grey: #495057ff;
--onyx: #343a40ff;
--eerie-black: #212529ff;
--rich-black-fogra-39: #0b090aff;
*/

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: #343a40ff !important;
}
h1 {
  font-size: 2.5em;
}
h2 {
  margin-top: 1.8em;
}
h3 {
  margin-top: 1.5em;
}
p,
.list__excerpt a {
  font-size: 1.2em;
}
a:hover {
  color: #216869ff !important;
  text-decoration: none !important;
}

body {
  background-color: white;
}
.container,
.container--outer {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  box-shadow: none;
}
.container--outer {
  /* footerを下に固定、コンテンツがかぶらないようにする　*/
  min-height: 100vh;
  position: relative;
}
@media screen and (min-width: 1240px) {
  /*　画面サイズが480pxからはここを読み込む　*/
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  /*　画面サイズが480pxからはここを読み込む　*/
  .wrapper {
    padding: 15px;
  }
}

.main__content li {
  font-size: 1.2em;
}
/* header */
.logo {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  /* padding: 25px; */
}

/* menu かなり挙動が変なので変更しないかも*/
.turukame-menu {
  border-bottom: 1px solid #6c757dff !important;
  border-top: 1px solid #6c757dff !important;
}
.turukame-menu .menu__list {
  width: fit-content;
  background-color: white;
  padding: 0 25px;
  margin: 0 auto;
  /* border: 1rem solid; */
  /* border-bottom: 1px solid #6c757dff !important; */
  /* border-top: 1px solid #6c757dff !important; */
}
@media screen and (min-width: 1200px) {
  .turukame-menu .menu__list {
    /* width: fit-content; */
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) {
  .menu__link {
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .turukame-menu {
    /* border-top: 1px solid white !important; */
    border-bottom: 1px solid white !important;
  }
  .menu__btn {
    background-color: white;
    color: #0b090aff;
    border-top: 1px solid #6c757dff !important;
    /* border-bottom: 1px solid #6c757dff !important; */
  }
}
.menu__link:hover {
  color: #216869ff !important;
}
.menu__link {
  /* text-transform: none; */
  font-size: 1.2em;
  font-weight: 400;
}
/* content -primary */
.primary {
  padding-top: 25px;
  max-width: 700px;
  margin: 0 auto;
}
/* footer */
.footer__container {
  max-width: 1150px !important;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -150px; /* ネガティブマージン追加*/
  color: #fff1e6;
  background: #212529ff;
  border-top: 0;
  font-size: 1.1em;
  padding: 20px;
}
.footer a {
  color: white !important;
  text-decoration: underline;
}

/***** Parts *****/
@media screen and (min-width: 768px) {
  aside {
    margin: 0 0 0 4% !important;
    padding: 25px;
  }
}
aside a {
  font-size: 1.2em;
}
.widget__title {
  font-size: 1.4em;
}
.widget {
  margin-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}
.widget__item {
  border-bottom: none;
}

/* breadcrumb */
nav.breadcrumb ol {
  margin: 1em 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.25em;
  color: #495057ff;
  content: ">";
}

nav.breadcrumb a {
  font-weight: 400;
  text-decoration: none;
  color: #6c757dff !important;
}

/* btn */
.btn {
  background-color: white;
  border: 1px solid #495057ff;
  border-radius: 5px;
}
/* side-bar category */
.widget-categories .widget__list {
  display: flex;
  flex-wrap: wrap;
}
.widget-categories .widget__list .widget__item {
  width: fit-content;
  padding-top: inherit;
  padding-right: 20px;
  padding-bottom: 20px;
}
/* tag */
.widget-taglist__link {
  color: #6c757dff !important;
}

/* social icon */
.widget-social__link-icon {
  fill: #6c757dff;
}

/* toc */
.turukame-toc {
  margin: 30px 0 40px;
  border: 1px dotted #6c757dff;
  border-radius: 5px;
}
.turukame-toc h2 {
  margin: 0;
  background: #f2f2f2;
  padding: 10px !important;
  font-size: 1.4em;
  color: #00132d;
}
.turukame-toc-menu ul > li {
  list-style: circle;
}
.turukame-toc-menu ul {
  margin: 10px 0 10px 30px;
}
.turukame-toc-menu a {
  font-weight: 500;
}
.turukame-toc-menu ul > li a {
  /* font-size: 1.2em; */
}

/* pagenation */
.pagination .pagination__item--current {
  color: inherit;
}

/***** site home *****/
.list__excerpt a {
  font-weight: 500;
}
.list__footer-readmore {
  float: none;
  margin-top: 10px;
}
.thumbnail__image {
  width: 20vw !important;
}
@media screen and (max-width: 620px) {
  .list__thumbnail {
    max-width: 300px;
  }
  .thumbnail__image {
    width: 30vw !important;
  }
}

/***** Lists *****/

/* category + tag lists */

.turukame-cate-area {
  margin-bottom: 50px;
}
.turukame-cafe-area h2 {
  font-size: 3em;
}
.turukame-cate-area:first-child li {
  display: inline-block;
  font-size: 1.5em;
  padding-right: 1.5em;
}

.turukame-cate-area:nth-child(2) li {
  list-style: none;
  display: inline-block;
  background-color: white;
  border: 1px solid #6c757dff;
  border-radius: 5px;
  font-size: 1.3em;
  color: #6c757dff !important;
  padding: 10px 10px;
}

/* tech-list */
.tech-list {
  display: flex;
}
.section-area {
  min-width: 33%;
}
@media screen and (max-width: 768px) {
  .tech-list {
    display: inline;
  }
  .section-area {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .tech-list {
    display: inline;
  }
  .section-area {
    width: 100%;
  }
}

.tech-list li {
  list-style: inside;
  margin-bottom: 30px;
}
.tech-list li > ul > li {
  list-style: circle;
  padding-left: 10px;
  margin-bottom: inherit;
}
.sub-section-title {
  font-size: 2em;
  font-weight: 700;
}

/***** Content Posts *****/
/* 通常の投稿ページ　layout/_default/single.hdml */
post__title {
  font-size: 2.2rem;
}
.turukame__post h2,
.turukame__post h3,
.turukame__post h4 {
  padding-top: 1em;
}
.turukame__post .tags__item {
  background-color: white;
}
@media screen and (max-width: 768px) {
  /* タブレット以下*/
  .turukame__post .post__content a {
    text-decoration: underline !important;
  }
}
/* */
figcaption {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 2em;
}
figcaption p {
  color: #6c757dff !important;
}
/* Related Contenst*/
.related-posts {
  margin: 0 0 50px;
}
.related-posts li {
  margin-left: 20px;
}
.related-posts a {
  font-size: 1.2em;
}

/* SNS share button */
.sns_section {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 60px auto;
}
@media screen and (min-width: 768px) {
  .sns_section {
    width: 60%;
  }
}
.sns_button {
  /* float: left; */
  box-shadow: inset 0 0 0 1px;
  border-radius: 100%;
}
.sns_button a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #495057ff !important;
  text-align: center;
  vertical-align: middle;
}
.sns_button i {
  font-size: 20px;
  vertical-align: middle;
}

.sns_button + .sns_button {
  margin: 0 0 0 12px;
}
.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
}

.fa-twitter:hover {
  color: #1b95e0;
}
.fa-facebook:hover {
  color: #3b5999;
}
.fa-get-pocket:hover {
  color: #ee4056;
}
.fa-hatena:hover {
  color: #4ba3d9;
}
.fa-rss:hover {
  color: #ffad05ff;
}

/* .sns_button:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
} */
/* alert*/
.message-box {
  padding: 0.75em;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #dfe7fd;
  color: #00132d;
}
.success {
  background-color: #e2ece9;
  color: #212224;
}
.danger {
  background-color: #fde2e4;
  color: #45040c;
}
.notice {
  background-color: #fff1e6;
  color: #751006;
}
.light {
  background-color: #f2f2f2;
  color: #343a40;
}

/* amazon-widget */
.amazon-widget {
  margin: 2rem 0;
  max-width: 480px;
  position: relative;
}
.amazon-widget a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.amazon-widget-img {
  border: 1px solid #e1e8ed;
  border-radius: 15px 15px 0 0;
  text-align: center;
}
.amazon-widget-img img {
  border: none;
  margin: 0 auto;
  max-height: 200px;
  padding: 16px;
}
.amazon-widget-info {
  border-right: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  padding: 5px 10px 10px 10px;
  border-radius: 0 0 15px 15px;
}
.amazon-widget:hover .amazon-widget-info {
  background-color: #e1e8ed;
}
.amazon-widget-title {
  font-weight: bold;
  display: block;
}
.amazon-widget-via {
  color: #aaa;
}
.amazon-widget-via img {
  border: none;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: text-bottom;
}
